* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  margin-top: 10px;
}

.main-container {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

.heading {
  font-size: 50px;
  padding: 20px;
}

input {
  padding: 7px;
  border-radius: 5px;
  border: none;
  border: 1px solid #222;
}

form {
  position: relative;
  width: 35%;
  margin: 0 auto;
}

#add-btn {
  font-size: 16px;
  position: absolute;
  right: 13px;
  padding: 7px;
}

hr {
  width: 20%;
  margin: 20px auto;
  border: 1px solid black;
}

.styleInput {
  margin: 6px auto;
}

li {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

li:nth-child(odd) {
  background-color: #ccc;
}

.bookDiv {
  display: flex;
  gap: 5px;
}

#ptext {
  width: 64%;
  margin: 10px auto;
  border: 1px solid black;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 35%;
  margin: 0 auto;
  border: 1px solid black;
  padding: 5px;
}

.main-nav {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.main-nav > a {
  text-decoration: none;
}

.main-nav:last-child {
  border-right: none;
}
